doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Yo
    link(rel='stylesheet', href='css/styles.css')
  body
    h1 Sup

    // scripts
    script(src='js/modernizr.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/main.js')